@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #9f9560;
  color: rgb(38, 108, 121);
  font-family: Poppins;
}

.container {
  display: flex;
  justify-content: center;
  margin: 100px auto 10px;
  width: 600px;
  background: rgb(162, 188, 189);
  border-radius: 30px;
}

.content {
  display: block;
  width: 90%;
  align-content: center;
}

ul {
  margin: 0;
  padding: 0;
}

li * {
  float: left;
  text-decoration-color: #fff;
}

li,
h3 {
  clear: both;
  list-style: none;
}

input,
button {
  outline: none;
}

input,
button {
  background: none;
  border: 0px;
  color: rgba(94, 94, 94, 1);
  font-size: 20px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Poppins;
  cursor: pointer;
}

button:hover {
  color: rgb(19, 16, 16);
}

h3,
label[for="add-task"] {
  color: #9f9560;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: x-large;
  border-bottom: 3px solid #9f9560;
  padding: 30px 0 10px;
  margin: 5px;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 2px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: poppins;
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}

/* for New task */

label[for="add-task"] {
  display: block;
  margin: 20px 0 20px;
  font-weight: 400;
}

input#add-task {
  float: left;
  width: 318px;
}

p>button:hover {
  color: rgb(24, 29, 29);
}

/* Task list item */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li>input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}

li>label {
  font-size: 20px;
  line-height: 40px;
  width: 273px;
  padding: 0 0 11px;
}

li>input[type="text"] {
  width: 226px;

}

li>.delete:hover {
  color: #cf2323;

}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;

}

/* For Edit Task */
ul li input[type="text"] {
  display: none;
}

ul li.editMode input[type="text"] {
  display: block;
}

ul li.editMode label {
  display: none;
}

#input-new-task{
  width: 50%;
  margin: 0;
}
.add-task{
  padding: 0 70px 0px 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}